body{
    margin: 0;
    padding: 0;
    height: 1200px;
    background: linear-gradient(-45deg,white,rgb(226, 226, 226), #f2f1f3, #ccc);    
}

*{
    box-sizing: border-box;
  }

div {
    /*border: 1px solid rgb(182, 181, 181);*/
    border-radius: 4%;
}

.cadre{
    margin: auto;
}


h1{
    margin-top: 0;
    font-size: 70px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: lighter;
    color: rgb(66, 66, 66);
    text-shadow: 20px 20px 20px white;
}

h2{
    font-size: 60px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    color: #52d2fc;
    margin: auto;  
}

h3{
    font-size: 40px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: lighter;
    color: #52d2fc;
    font-weight: bold;
    text-shadow: 10px 10px 10px #ccc;
}

h4{
    font-size: 30px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    color: #ff7300;
    margin: 0;
}

a{
    text-decoration: none;
}

/*section en gris englobe les div left et right*/

section{
    display: flex;
    justify-content: space-around;
    
    /*background: rgb(218, 221, 221);*/
}

/*Left contient les div decompt et Level*/


.Left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    height: 480px;
    width: 300px;
    /*margin: auto 7px;*/
    /*background: pink;*/
}

.decompt{
    width: 300px;
    height: 180px;
    background: #c9f1fe;
    /*border: 1px solid rgb(182, 181, 181);*/
    box-shadow: 10px 10px 10px #ccc;
}

.level{
    width: 300px;
    height: 250px;
    background: #ff7300;
    /*border: 1px solid rgb(182, 181, 181);*/
    box-shadow: 10px 10px 10px #ccc;
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: 'Imprima', sans-serif;
    padding-top: 60px;
}

.Right{
    width:420px;
    /*background: pink;*/
}

.Right2{
   display: flex;
   align-items: center;
    /*background: pink;*/
}

.depot{
    height: 450px;
    width: 250px;
    background: #f6d747;
    box-shadow: 10px 10px 10px #ccc;
    font-size: 50px;
    font-family: 'Patrick Hand SC', cursive;
    color: #ff7300;
    font-weight: bold;
    text-align: left;
    letter-spacing: 8px;
    overflow: hidden;
    overflow-x: scroll;
}


p{
    font-size: 28px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: lighter;
    color: rgb(66, 66, 66);
    font-weight: bold;
}


.container{
    height: 480px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /*background: white;*/
    padding: 5px;
    /*border: 1px solid rgb(182, 181, 181);*/
}

.card{
    height: 100px;
    width: 75px;
    background: #52d2fc;
    border-radius: 9%;
    border: 1px solid rgb(182, 181, 181);
    box-shadow: 10px 10px 10px #ccc;
}

.card:hover{
    cursor: pointer;
    border: 3px solid #c9f1fe;
}

.card p{
    font-size: 32px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    color: rgb(66, 66, 66);
    font-weight: bold;
}

/*------------------- css de ma page d'accueil-------------------------------*/
#wrapper {
    margin: auto;
    text-align: center;
    display: flex;
}

input[type="button"] {
    border-radius: 100%;
}

input:hover{
    cursor: pointer;
}

#countUp {
    color: rgb(66, 66, 66);
    font-family: 'Imprima', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.Nivo{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}

.fa{
    color: #ff7300;
    cursor: pointer;

}


.PlayerName{
    width: 200px;
    font-size: 25px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: lighter;
    color: #ff7300;
    font-weight: bold;
}

.Player{
    width: 220px;
    height: 178px;
    font-size: 25px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: lighter;
    background: whitesmoke;
    border: 2px solid #f6d747;
    margin: auto;
    box-shadow: 10px 10px 10px #ccc;
}
